<%= form_for(@pastor) do |f| %>
  <% if @pastor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pastor.errors.count, "error") %> prohibited this pastor from being saved:</h2>

      <ul>
      <% @pastor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :placeholder=>"nombre", :autofocus=>"true", :required=>"true" %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br />
    <%= f.text_field :apellidos, :placeholder=>"apellidos", :required=>"true" %>
  </div>
    <div class="field">
      <%= f.label :cargo %><br />
      <%= f.text_field :cargo, :placeholder=>"apellidos", :required=>"true" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
