<h1>Mostrando pastor</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pastors.each do |pastor| %>
  <tr>
    <td><%= pastor.nombre %></td>
    <td><%= pastor.apellidos %></td>
    <td><%= link_to 'Ver', pastor %></td>
    <td><%= link_to 'Editar', edit_pastor_path(pastor) %></td>
    <td><%= link_to 'Eliminar', pastor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Pastor', new_pastor_path %>
