<%= form_for(@recurso) do |f| %>
  <% if @recurso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurso.errors.count, "error") %> prohibited this recurso from being saved:</h2>

      <ul>
      <% @recurso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipodocumento %><br />
    <%= f.text_field :tipodocumento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
