<script type="text/javascript">
    $(document).ready(function () {
        $('#animacion').coinslider();
    });
</script>

<div id="slidera">
  <div class="carousel">
    <ul class="panes">

      <li>
        <h2>Reuniones</h2>

        <p> Reunion de jóvenes sábados de 18:30 <br>
          Oración dias miércoles 18:30 <br>
          Domingos 10:00, 18:30 </p>
      </li>
      <li>
        <h2>Reto</h2>

        <p> De los tres dias, 100 nombres, una meta. </p>
      </li>
      <li>
        <h2>Noticias</h2>

        <p> Escuela Bíblica Asamblea Cristiana Génesis, los dias Lunes y Martes Horarios: 19:00 horas </p>
      </li>
      <li>
        <h2>Versículo del día</h2>

        <p> El simple todo lo cree; más el abisado mira bien sus pasos.<br><br> Proverbios 14:15 </p>
      </li>
      <li>
        <h2>Tarea de la semana</h2>

        <p> Escuela Asamblea Cristiana Génesis
          Día de entrega el  lunes 25 de febrero
        </p>
      </li>
    </ul>
  </div>


  <div id="animacionpulse" style="font-family: Arial; text-align: center;">
    <font color="red">Asamblea</font><font color="yellow"> Cristiana</font><font color="green"> Génesis</font></div>

  <div id="betaa">Beta 1.0</div>
  <div class="encuestas">
  </div>
  <div id="redes">
    <div class="fb-like" data-href="https://igenesis.herokuapp.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="segoe ui" data-colorscheme="light"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://igenesis.herokuapp.com/" data-via="acgenesis" data-lang="es" data-related="acgenesis" data-hashtags="ror">Twittear</a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="https://igenesis.herokuapp.com/"></div>
    </center>
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
        window.___gcfg = {lang: 'es-419'};

        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>


  <div class="inicio">
    <div class="animacion" id="animacion">
      <%= image_tag "genesis/55.jpg" %>
      <span> Dios inventó la alegría </span>
      <%= image_tag "genesis/22.jpg" %>
      <span> Asamblea Cristiana Génesis </span>
      <%= image_tag "genesis/1.JPG" %>
      <span> Ayuda de amor </span>
      <%= image_tag "genesis/23.jpg" %>
      <span> Tecnología y Transparencia </span>
      <%= image_tag "genesis/3.JPG" %>
      <span> Asamblea Cristiana Génesis </span>

      <%= image_tag "genesis/2.JPG" %>
      <span> Asamblea Cristiana Génesis </span>
      <%= image_tag "genesis/21.jpg" %>
      <span> Asamblea Cristiana Génesis </span>
      <%= image_tag "genesis/24.jpg" %>
      <span> Asamblea Cristiana Génesis</span>
      <%= image_tag "genesis/25.jpg" %>
      <span> Asamblea Cristiana Génesis </span>
      <%= image_tag "genesis/26.JPG" %>
      <span> Asamblea Cristiana Génesis </span>
      <%= image_tag "genesis/27.jpg" %>
      <span> Asamblea Cristiana Génesis </span>
    </div>
  </div>
</div>