

<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @galerium.nombre %>
</p>

<p>
  <b>Fecha:</b>
  <%= @galerium.fecha %>
</p>


<%= link_to 'Edit', edit_galerium_path(@galerium) %> |
<%= link_to 'Back', galeria_path %>
